.modal-header,
.modal-footer {
  display: block;
  width: 100%;
  height: 4rem;
  background-color: #e6531a;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.modal-header-description {
  display: flex;
  flex-direction: column;
  color: #ffff;
  font-weight: bold;
}
.modal-header-title {
  margin: 0;
}
.modal-header-subtitle {
  color: #e3e3e3;
}
.modal-header-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0 .8rem .1rem;
  border-radius: 10px;
  width: initial !important;
}

.modal-footer {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.modal-footer-amount {
  color: #ffff;
  font-weight: bold;
}

.modal-footer-actions button {
  width: initial !important;
  border-radius: 10px;
  padding: 7px;
}
.modal-footer-cancel {
  float: unset;
  background-color: #cccccc;
  color: black;
  margin-right: .5rem;
}

.modal-body {
  width: 100%;
  padding: .5rem;
  max-height: 50vh;
  overflow: auto;
}
.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.cart-items li.cart-item-empty {
  margin: 4rem 0;
}