.meal-item-form,
.meal-item-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.meal-item-quantity {
    flex-direction: row;
}

.meal-item-add,
.meal-item-remove {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.meal-item-remove {
    padding-bottom: 15px;
}

.meal-item-input {
    border: 1px solid #8a2b06;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.meal-item-input:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
